{% extends 'base.html.twig' %}

{% block titre %}{% endblock%}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block body %}
    <style>
    #restaurants
    {
        margin-top: 100px;
        margin-bottom: 300px;
    }

    .restaurant
    {
        border-bottom: 2px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .restaurant .image
    {
        display: inline-block;
    }

    .restaurant .image img
    {
        height: 200px;
        width: 300px;
    }

    .restaurant .content
    {
        display: inline-block;
        padding-left: 50px;
    }

    .restaurant h1
    {
        font-size: 20px;
        color: #999;
    }
    </style>

    <section id="restaurants">
        <div class='container'>
            <div class='row'>
                <div class='col-md-2'></div>
                <div class='col-md-6'>
                    <div class='restaurant'>
                        <div class='image'>
                            <img src="{{ asset('img/restaurant.png') }}" alt="...">
                        </div>

                        <div class='content'>
                            <h1>{{ restaurant.getNom() }}</h1>
                            <p style='margin-top: 20px; margin-bottom: 5px;'>Téléphone: {{ restaurant.getTelephone() }}</p>
                            <p>Addresse: {{ restaurant.getAddresse() }}</p>
                        </div>
                    </div>
                </div>
                <div class='col-md-4'></div>

            </div>

            <div class='row'>
                <div class='col-md-2'></div>
                <div class='col-md-6'>
                    <div class='restaurant'>

                        <div class=''>
                            <h1>Les repas</h1>
                            <table class='table'>
                                <tr>
                                    <th>Nom de plat</th>
                                    <th>Prix</th>
                                </tr>
                                {% for rep in repas %}
                                <tr>
                                    <td>{{ rep.getNom() }}</td>
                                    <td>{{ rep.getPrix() }}<td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class='col-md-4'></div>
                
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

{% endblock %}